[Unit]
Description=Drone Engage Camera withOUT RPI-Camera Ver 2.0
After=network.target multi-user.target
Documentation=https://droneengage.com


[Service]
Type=simple
WorkingDirectory=/home/pi/scripts/wrapper
ExecStart=/home/pi/scripts/wrapper/camera_manager_wrapper -c -t 
Restart=on-failure
RestartSec=5s

StandardOutput=journal
StandardError=journal
SyslogIdentifier=camera_wrapper

[Install]
WantedBy=multi-user.target

