[Unit]
Description=Drone Engage Camera withOUT RPI-Camera Ver 2.0
After=network.target multi-user.target
Documentation=https://droneengage.com


[Service]
Type=simple
WorkingDirectory=/home/pi/drone_engage/de_camera
ExecStart=/home/pi/drone_engage/de_camera/de_camera -c /home/pi/drone_engage/de_camera/de_camera.config.module.json
Restart=on-failure
RestartSec=5s # Wait 5 seconds before attempting a restart

StandardOutput=journal
StandardError=journal
SyslogIdentifier=camera_wrapper

# You might need to adjust user/group if camera access is restricted
# User=pi
# Group=video

[Install]
WantedBy=multi-user.target

